@media only screen and (min-width: 701px) {
    .container-sitios-educacion{
        display: flex;
        margin: 1rem 0 1rem 0;
    }

    .container-educacion{
        width: 100%;
        margin: 2rem 0 2rem 0;
    }

    .subcontainer-educacion{
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .subcontainer-educacion img{
        width: 60%;
    }
    .container-coder-platzi{
        display: flex;
    }

    .container-open-digital{
        display: flex;
    }

}
@media only screen and (max-width: 700px) {

    .container-educacion{
        margin: 2rem 0 2rem 0;
    }
    .subcontainer-educacion h2{
        font-size: 18px;
    }
    .subcontainer-educacion{
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .container-sitios-educacion{
        display: flex;
        margin: 1rem 0 1rem 0;
        text-align: center;
    }

    .container-sitios-educacion img{
        width: 50%;
        
    }
}