@media only screen and (min-width: 701px) {
*{
    font-family: 'Courier Prime', monospace;
}

header{
    background-color: blueviolet;
}

.container-header{
    margin: auto;
}

.subcontainer-header{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}

.container-header-logo{
    width: 70%;
}
.container-header-link{
    width: 30%;
}
.container-header-link ul, a{
    display: flex;
    text-decoration: none;
    list-style: none;
    font-family: 'Courier Prime', monospace;
    font-weight: bolder;
    font-size: 16px;
    color: white;
}

.container-header-link ul li{
    margin-left: 1rem;
}

.container-presentacion{
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.pesentacion-img img{
    height: 40vh;
}

.presentacion-text p{
    font-size: 18px;
}
}

@media only screen and (max-width: 700px) {
    *{
        font-family: 'Courier Prime', monospace;
    }
    
    header{
        background-color: blueviolet;
    }
    
    .container-header{
        width: 90%;
        margin: auto;
    }
    
    .subcontainer-header{
        display: flex;
    }
    
    .container-header-logo{
       width: 50%;
    }
    .container-header-link{
       width: 40%;
    }
    .container-header-link ul, a{
        list-style: none;
        text-decoration: none;
    }
    
    .container-header-link ul li{

    }
    
    .container-presentacion{
        width: 90%;
    }
    
    .pesentacion-img{
        width: 30%;
    }
    .pesentacion-img img{
        width: 100%;
    }
    
    .presentacion-text{
        width: 100%;
    }
    .presentacion-text p{
      font-size: 12px;
      width: 100%;
    }
}