header{
    background-color: blueviolet;
}

.container-header{
    margin: auto;
}

.subcontainer-header{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}

.container-header-logo{
    width: 70%;
}
.container-header-link{
    width: 30%;
}
.container-header-link ul, a{
    display: flex;
    text-decoration: none;
    list-style: none;
    font-family: 'Courier Prime', monospace;
    font-weight: bolder;
    font-size: 16px;
    color: white;
}

.container-header-link ul li{
    margin-left: 1rem;
}

.container-presentacion{
    width: 90%;
}

@media only screen and (max-width: 700px) {
    .container-header{

    }
    .subcontainer-header{

    }
    .container-header-logo{

    }
    .container-header-link{

    }
}